.more-sec {
  padding: 0 50px;
}

.more-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f0f0f0;
  padding: 10px;
  margin-bottom: 40px;
}

.more-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px 0 0;
}

.morenav-icon {
  font-size: 20px;
  margin-right: 25px;
  color: #19191b;
  font-weight: 700;
}

.dog-icon {
  font-size: 20px;
  color: #19191b;
  margin: 0 20px 0 0;
}

.morenav-items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid red; */
}

.morenav-items a {
  text-decoration: none;
  color: #19191b;
  font-weight: 500;
  font-size: 16px;
  margin: 0 14px;
}

.dropdown-div {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #29292963;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 30px;
  transition: 0.3s ease;
}

.dropdown {
  width: 250px;
  /* height: 300px; */
  background-color: #19191b;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  transition: 0.9s;
  padding: 80px 20px 50px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  /* border: 1px solid white ; */
}

.dropdown a {
  color: #dce2ea;
  margin: 0 0 20px 0;
}

.drop-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.category {
  font-size: 12px;
}

.category span {
  font-size: 14px;
  font-weight: 700;
}

.category-imgDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.category-imgDiv div {
    overflow: hidden;
    width: 139px;
    height: 139px;
    border-radius: 15px;
}

.category-imgDiv div img {
    width: 100%;
    cursor: pointer;
    object-fit: cover;
    border-radius: 12px;
}

.category-tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seeAll {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.select {
    background-color: none;
    border: 1px solid #f0f0f0;
    padding: 10px 6px;
    border-radius: 12px;
    margin-right: 5px;
}

.seeAll option {
    font-weight: 500;
}

.pet-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0;
    flex-wrap: wrap;
  }
  
  .petthumbnail {
    position: relative;
    background-color: #f0f0f0;
    border-radius: 15px;
    overflow: hidden;
    margin-left: 20px;
    width: 260px;
    height: 472px;
  }
  
  .petthumbnail .img-div {
    overflow: hidden;
    max-width: 318px;
    height: 400px;
    border-radius: 15px;
    object-fit: cover;
    }
  
  
  .petthumbnail .img-div img {
    width: 100%;
    cursor: pointer;
    object-fit: cover;
    border-radius: 12px;
  
  }
  
  .petthumbnail-div.margin-top {
    margin-top: 70px;
  }
  
  .item-love  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.priceItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
}

.detail {
    padding: 10px;
}

.overlay {
    width: 0%;
    background-color: #19191b6a;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.4s;
  
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
  
}

.cart-btn {
    background-color: #19191b;
    color: #dce2ea;
    border-radius: 12px;
    padding: 0 15px;
    width: 0%;
    height: 37px;
    border: none;
    font-weight: 700;
    font-size: 14px;
    margin-right: 10px;
    visibility: hidden;
  }

.petthumbnail:hover .overlay{
    width: 100%;
    visibility: visible;
}

.petthumbnail:hover .cart-btn{
    width: 100%;
    visibility: visible;
}


